{% load static %}
        <!---Footer Starts--->
        <div class="row mt-5 bg-light">

            <div class="col-md-3">
                <h5>Address</h5>    <!----Address-->
                <hr>
                2nd Floor, Landmark Building<br>
                Near Seawoods Mall<br>
                Parks Wonders Park, New Mumbai<br><br>
                <p><i class="bi bi-telephone-fill text-primary"></i> &nbsp;&nbsp;: 0000000098</p>
                <p><i class="bi bi-envelope text-primary"></i> &nbsp;&nbsp;: Abcd568@gmail.com</p>
            </div>

            <div class="col-md-4">
                <h5>Quick Link</h5>    <!---Quick Link--->
                <hr>
                <p><a href="index.html" class="anchor">Home</a></p>
                <p><a href="about.html" class="anchor">About</a></p>
                <p><a href="cart.html" class="anchor">Cart</a></p>
                <p><a href="contact.html" class="anchor">Contact</a></p>
            </div>

            <div class="col-md-4">
                <h5>Contact Us</h5>    <!---Contact us--->
                <hr><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
                <h5><a href="http://www.instagram.com"><i class="bi bi-instagram text-danger"></i></a></h5>
                <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a></h5>
                <h5><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a></h5>
            </div>


        </div>
        <!---Footer Ends--->


    </div>

    <script src="{% static 'asset/js/popper.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    
</body>
</html>